<button
    type="button"
    data-ui-role="sheet-close"
    data-action="click->symfony--ux-blocks-live--sheet#close"
    data-symfony--ux-blocks-live--sheet-target="close"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
