<div
    role="dialog"
    aria-modal="true"
    hidden
    data-ui-role="sheet-content"
    data-symfony--ux-blocks-live--sheet-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
