<button
    type="button"
    data-ui-role="sidebar-close"
    data-action="click->symfony--ux-blocks-live--sidebar#close"
    data-symfony--ux-blocks-live--sidebar-target="close"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
