<div
    role="dialog"
    hidden
    aria-label="Choose date"
    data-ui-role="date-picker-content"
    data-symfony--ux-blocks-live--date-picker-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
