<button
    type="button"
    data-ui-role="command-palette-item"
    data-symfony--ux-blocks-live--command-palette-target="item"
    data-action="click->symfony--ux-blocks-live--command-palette#visit"
    {{ attributes }}
>{% block content %}{% endblock %}</button>
