<div
    role="region"
    hidden
    data-ui-role="navigation-menu-content"
    data-symfony--ux-blocks-live--navigation-menu-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
