<a
    role="menuitem"
    href="{{ href|default('#') }}"
    data-ui-role="navigation-menu-item"
    data-symfony--ux-blocks-live--navigation-menu-target="item"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</a>
