<button
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    data-ui-role="navigation-menu-trigger"
    data-action="click->symfony--ux-blocks-live--navigation-menu#open"
    data-symfony--ux-blocks-live--navigation-menu-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
