<button
    type="button"
    data-ui-role="drawer-close"
    data-action="click->symfony--ux-blocks-live--drawer#close"
    data-symfony--ux-blocks-live--drawer-target="close"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
