<button
    type="button"
    role="menuitem"
    {% if disabled %}disabled aria-disabled="true"{% endif %}
    data-ui-role="menubar-item"
    data-symfony--ux-blocks-live--menubar-target="item"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
