<button
    type="button"
    role="menuitem"
    aria-haspopup="true"
    aria-expanded="false"
    data-ui-role="menubar-trigger"
    data-action="click->symfony--ux-blocks-live--menubar#toggle"
    data-symfony--ux-blocks-live--menubar-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
