<div
    role="listbox"
    hidden
    data-ui-role="combobox-content"
    data-symfony--ux-blocks-live--combobox-target="content"
    {{ attributes }}
>
    <input
        type="search"
        autocomplete="off"
        placeholder="Filter…"
        aria-label="Filter options"
        data-ui-role="combobox-filter"
        data-symfony--ux-blocks-live--combobox-target="filter"
        data-action="input->symfony--ux-blocks-live--combobox#filter"
    />
    {% block content %}{% endblock %}
</div>
