<button
    type="button"
    role="option"
    aria-selected="false"
    data-ui-role="combobox-item"
    data-symfony--ux-blocks-live--combobox-target="item"
    data-action="click->symfony--ux-blocks-live--combobox#selectItem"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
