<nav
    role="navigation"
    data-ui-role="stacked-layout-nav"
    data-symfony--ux-blocks-live--stacked-layout-interactive-target="nav"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</nav>
