<section
    hidden
    aria-hidden="true"
    data-panel="{{ panel }}"
    data-ui-role="stacked-layout-panel"
    data-symfony--ux-blocks-live--stacked-layout-interactive-target="panel"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</section>
