<div
    role="tooltip"
    hidden
    data-ui-role="hover-card-content"
    data-symfony--ux-blocks-live--hover-card-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
