<div
    data-ui-role="carousel-interactive-item"
    data-symfony--ux-blocks-live--carousel-interactive-target="item"
    style="flex:0 0 80%;scroll-snap-align:start;"
    {{ attributes }}
>{% block content %}{% endblock %}</div>
