<div
    role="menu"
    hidden
    data-ui-role="dropdown-menu-content"
    data-symfony--ux-blocks-live--dropdown-menu-target="content"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
