<button
    type="button"
    aria-haspopup="menu"
    aria-expanded="false"
    data-ui-role="dropdown-menu-trigger"
    data-symfony--ux-blocks-live--dropdown-menu-target="trigger"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
