<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UX Blocks Extended Catalog</title>
</head>
<body>
    <main>
        <h1>UX Blocks Extended Catalog</h1>
        {% include '@UxBlocksLive/catalog/_mvp.html.twig' %}
    </main>
</body>
</html>
