<div
    role="tablist"
    data-ui-role="tabs-list"
    aria-orientation="{{ orientation|default('horizontal') }}"
    data-symfony--ux-blocks-live--tabs-target="list"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
