<div
    data-ui-role="alert-dialog-enhanced"
    data-ui-fragment="blocks.live.alert-dialog-enhanced"
    data-controller="symfony--ux-blocks-live--alert-dialog"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
