<div
    data-ui-role="combobox"
    data-ui-fragment="blocks.live.combobox"
    data-controller="live symfony--ux-blocks-live--combobox"
    data-symfony--ux-blocks-live--combobox-creatable-value="{{ creatable ? 'true' : 'false' }}"
    data-symfony--ux-blocks-live--combobox-prevent-duplicates-value="{{ preventDuplicates ? 'true' : 'false' }}"
    {% if onCreateValue %}data-symfony--ux-blocks-live--combobox-on-create-value="{{ onCreateValue }}"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
