<div
    data-ui-role="context-menu"
    data-ui-fragment="blocks.live.context-menu"
    data-controller="symfony--ux-blocks-live--context-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
