<div
    data-ui-role="data-table-chrome-interactive"
    data-ui-fragment="blocks.live.data-table-chrome-interactive"
    data-controller="symfony--ux-blocks-live--data-table-chrome-interactive"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
