<div
    data-ui-role="date-picker"
    data-ui-fragment="blocks.live.date-picker"
    data-controller="live symfony--ux-blocks-live--date-picker"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
