<div
    data-ui-role="drawer"
    data-ui-fragment="blocks.live.drawer"
    data-controller="symfony--ux-blocks-live--drawer"
    data-symfony--ux-blocks-live--drawer-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
