<div
    data-ui-role="dropdown-menu"
    data-ui-fragment="blocks.live.dropdown-menu"
    data-controller="symfony--ux-blocks-live--dropdown-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
