<div
    data-ui-role="filter-chips"
    data-ui-fragment="blocks.live.filter-chips"
    data-controller="symfony--ux-blocks-live--filter-chips"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
