<div
    role="menubar"
    data-ui-role="menubar"
    data-ui-fragment="blocks.live.menubar"
    data-controller="symfony--ux-blocks-live--menubar"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
