<nav
    role="navigation"
    data-ui-role="navigation-menu"
    data-ui-fragment="blocks.live.navigation-menu"
    data-controller="symfony--ux-blocks-live--navigation-menu"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</nav>
