<div
    data-ui-role="resizable"
    data-ui-fragment="blocks.live.resizable"
    data-controller="symfony--ux-blocks-live--resizable"
    style="display:flex;min-height:12rem;width:100%;"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
