<div
    data-ui-role="sheet"
    data-ui-fragment="blocks.live.sheet"
    data-controller="symfony--ux-blocks-live--sheet"
    data-symfony--ux-blocks-live--sheet-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
