<div
    data-ui-role="sidebar"
    data-ui-fragment="blocks.live.sidebar"
    data-controller="symfony--ux-blocks-live--sidebar"
    data-symfony--ux-blocks-live--sidebar-side-value="{{ side }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
