<div
    data-ui-role="slider"
    data-ui-fragment="blocks.live.slider"
    data-controller="symfony--ux-blocks-live--slider"
    data-symfony--ux-blocks-live--slider-min-value="0"
    data-symfony--ux-blocks-live--slider-max-value="100"
    data-symfony--ux-blocks-live--slider-step-value="1"
    {{ attributes }}
>
    <input
        type="range"
        min="0"
        max="100"
        value="50"
        step="1"
        data-ui-role="slider-input"
        data-symfony--ux-blocks-live--slider-target="input"
        data-action="input->symfony--ux-blocks-live--slider#syncValue change->symfony--ux-blocks-live--slider#syncValue keydown->symfony--ux-blocks-live--slider#keydown"
    />
    <output data-symfony--ux-blocks-live--slider-target="output">50</output>
    {% block content %}{% endblock %}
</div>
