<div
    data-ui-role="toast"
    data-ui-fragment="blocks.live.toast"
    data-controller="symfony--ux-blocks-live--toast"
    aria-live="polite"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
