<button
    data-ui-role="toggle"
    data-ui-fragment="blocks.live.toggle"
    data-controller="symfony--ux-blocks-live--toggle"
    type="button"
    aria-pressed="false"
    data-action="click->symfony--ux-blocks-live--toggle#toggle"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
