<button
    type="button"
    data-ui-role="alert-dialog-action"
    data-action="click->symfony--ux-blocks-live--alert-dialog#confirm"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
