<section data-catalog-role="tabs">
    <h2>Tabs</h2>
    <twig:Tabs defaultValue="account">
        <twig:Tabs:List orientation="horizontal">
            <twig:Tabs:Trigger value="account" active>Account</twig:Tabs:Trigger>
            <twig:Tabs:Trigger value="password" disabled>Password</twig:Tabs:Trigger>
            <twig:Tabs:Trigger value="docs" href="#docs">Docs</twig:Tabs:Trigger>
        </twig:Tabs:List>
        <twig:Tabs:Content value="account" active>Account panel</twig:Tabs:Content>
        <twig:Tabs:Content value="password">Password panel</twig:Tabs:Content>
    </twig:Tabs>
</section>

<section data-catalog-role="dropdown-menu">
    <h2>Dropdown Menu</h2>
    <twig:DropdownMenu>
        <twig:DropdownMenu:Trigger>Open menu</twig:DropdownMenu:Trigger>
        <twig:DropdownMenu:Content>
            <twig:DropdownMenu:Item>Profile</twig:DropdownMenu:Item>
            <twig:DropdownMenu:Item>Settings</twig:DropdownMenu:Item>
        </twig:DropdownMenu:Content>
    </twig:DropdownMenu>
</section>
